<%= form_for @note, url: {action: "update"}, method: :patch, html: {class: "form-horizontal"} do |f| %>

  <%= f.hidden_field :curso_id, :value => params[:curso_id]%>
  <%= f.hidden_field :id, :value => @note.id%>

  <div class="form-group" >
    <label for="user_id" class="col-sm-2 control-label">Alumno:</label>
    <div class="col-sm-6">
      <%= f.select :user_id, @listado_usuarios_notas, {include_blank: 'Seleccione un alumno...'}, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group" >
    <label for="n1" class="col-sm-2 control-label">Nota 1:</label>
    <div class="col-sm-6">
      <%= f.number_field :n1, :type =>"number", :class=>"form-control", :step => :any%>
    </div>
  </div>

  <div class="form-group" >
    <label for="n2" class="col-sm-2 control-label">Nota 2:</label>
    <div class="col-sm-6">
      <%= f.number_field :n2, :type =>"number", :class=>"form-control", :step => :any%>
    </div>
  </div>

  <div class="form-group" >
    <label for="n3" class="col-sm-2 control-label">Nota 3:</label>
    <div class="col-sm-6">
      <%= f.number_field :n3, :type =>"number", :class=>"form-control", :step => :any%>
    </div>
  </div>

  <div class="form-group" >
    <label for="n4" class="col-sm-2 control-label">Nota 4:</label>
    <div class="col-sm-6">
      <%= f.number_field :n4, :type =>"number", :class=>"form-control", :step => :any%>
    </div>
  </div>

  <div class="form-group" >
    <label for="nf" class="col-sm-2 control-label">Nota Final:</label>
    <div class="col-sm-6">
      <%= f.number_field :nf, :type =>"number", :class=>"form-control", :step => :any, readonly: true%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= button_tag 'Actualizar <span class="glyphicon glyphicon-refresh"></span>'.html_safe,  :class => 'btn btn-success'%>
    </div>
  </div>
<% end %>
