<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @note.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @note.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @note.n3 %>
</p>

<p>
  <strong>N4:</strong>
  <%= @note.n4 %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @note.nf %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @note.curso %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', nota_path %>
