<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @note.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @note.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @note.n3 %>
</p>

<p>
  <strong>N4:</strong>
  <%= @note.n4 %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @note.nf %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @note.curso.nombre %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @note.user.email %>
</p>

<%= link_to 'Editar', edit_curso_note_path(params[:curso_id],params[:id]) %> |
<%= link_to 'Volver', curso_notes_path(params[:curso_id]) %>
