<p id="notice"><%= notice %></p>

<h1>Cursos</h1>
<%= link_to 'Nuevo <span class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_curso_path,  :class => 'btn btn-success' %>
<br><br>
<div class = "center-table table-responsive">
<table  class="table table-striped table-bordered table-center">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Profesor</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nombre %></td>
        <td><%= curso.user.email %></td>
        <td><%= curso.user.perfil %></td>
        <td><%= link_to 'Show', curso %></td>
        <% if can? :du, curso %>
        <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
        <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Estas seguro de eliminar este curso?' } %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
